body{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    gap: 60px;
    font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
    
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    border: 2px solid #000;
    margin: 20px;
    padding: 30px;
    border-radius: 60px;
    flex-direction:column ;
    gap: 60px;
    align-items: center;
    margin-left: 650px;
}
section div{
    
}
