* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Navigation bar */
nav {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Main content */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.previous-outpasses {
    flex: 0 0 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.previous-outpasses h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

td {
    text-align: center;
}

/* Stats bar */
.stats-bar {
    flex: 0 0 35%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-bar h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.stats-bar p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.request-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.request-button:hover {
    background-color: #575757;
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}